{% include "blog/base.html" %}
{% load static %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1518533954129-7774297db60f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>All Done!</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" style='text-align: center;' >
          <div class="alert alert-info" style='text-align: center;'>
              Your password has been changed.
        </div>
	      <a class="btn btn-outline-dark" href="{% url 'login' %}">Sign In</a>
      </div>
    </div>
  </div>

{% include "blog/footer.html" %}