{% include "blog/base.html" %}
{% load crispy_forms_tags %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1633265486064-086b219458ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Request reset</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">Send Email to reset password</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% include "blog/footer.html" %}